In [1]:
import pandas as pd

In [2]:
# read JSON and slice first 4 cols
df = pd.read_json("airyards.json").iloc[:,[i for i in range(4)]]
df.head(3)

,name,position,team,total
0,Christian McCaffrey,RB,CAR,"{'targets': 142, 'rec': 116, 'rec_yards': 1005..."
1,Michael Thomas,WR,NO,"{'targets': 185, 'rec': 149, 'rec_yards': 1725..."
2,Aaron Jones,RB,GB,"{'targets': 68, 'rec': 49, 'rec_yards': 474, '..."

In [3]:
# flatten
totals = pd.io.json.json_normalize(df['total'])
totals.head(3)

,adot,air_yards,ms_air,ppr,racr,rec,rec_yards,targets,td,tgt_share,wopr,yac
0,0.7,95,0.02,469.2,10.58,116,1005,142,4,0.22,0.35,1019
1,8.0,1488,0.40,374.6,1.16,149,1725,185,9,0.32,0.75,583
2,2.8,190,0.04,318.8,2.49,49,474,68,3,0.12,0.20,433

In [4]:
# replace compressed totals with expanded
df.drop(columns='total', inplace=True)
df = pd.concat([df, totals], axis=1, join='inner')
df.head(3)

,name,position,team,adot,air_yards,ms_air,ppr,racr,rec,rec_yards,targets,td,tgt_share,wopr,yac
0,Christian McCaffrey,RB,CAR,0.7,95,0.02,469.2,10.58,116,1005,142,4,0.22,0.35,1019
1,Michael Thomas,WR,NO,8.0,1488,0.40,374.6,1.16,149,1725,185,9,0.32,0.75,583
2,Aaron Jones,RB,GB,2.8,190,0.04,318.8,2.49,49,474,68,3,0.12,0.20,433

### JSON now parsed back to website format
test below:

In [5]:
df.shape[0]

683

more players than shown online.